---
layout: sidebar
---

<div class="copy">
  <h1 class="page-title">{{ page.title }}</h1>
	<p class="version">Version {{ page.version }}</p>
  {{ content }}
</div>

<footer>
  <p class="text-center"><a href="#">Back to top</a></p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- build:js(app) /js/scripts.js -->
<script src="/js/hammer.min.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->