/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

/* Carousel base class */
.banner {
  .header;

  padding: @banner-padding;
  margin-bottom: @banner-padding;
  text-align: center;

  p {
    margin-bottom: (@banner-padding / 2);
    font-size: @jumbotron-font-size;
    font-weight: 200;
  }

  @media screen and (min-width: @screen-md-min) {
    padding-top:    (@banner-padding * 1.6);
    padding-bottom: (@banner-padding * 1.6);

    h1 {
      font-size: (@font-size-base * 4.5);
    }
  }
}

/* Nav links */

.nav {
  & > li {
    display: inline-block;

    & > a {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-size: @font-size-large;
      // color: #fff; /* IE8 proofing */
      // color: rgba(255,255,255,.75);
      border-bottom: @header-link-underline solid transparent;

      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom-color: #a9a9a9;
        border-bottom-color: rgba(255,255,255,.25);
      }
    }
  }

  & > .active {
    & > a,
    & > a:hover,
    & > a:focus {
      // color: #fff;
      // border-bottom-color: #fff;
    }
  }
  
  & > li + li {
    margin-left: @line-height-computed;
  }
}

/* WHITEPAPER PANELS
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.papers {
  .col-md-4 {
    margin-bottom: @line-height-computed;
    text-align: center;
  }
  
  h2 {
    font-weight: normal;
  }

  a.btn {
    &:after {
      content: " \BB";
    }
  }
}