/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import "colors.less";
@import "bootstrap/bootstrap.less";

/* VARIABLES
-------------------------------------------------- */
// Header
@header-link-underline: 2px;

// Sidebar
@sidebar-width: 380px;  // consider reducing by 20px or so if site name changes

// Content
@content-width:   560px;
@gutter-width:    200px;
@gutter-margin:    10px;
@list-padding:     40px;
@scrollbar-extra:  14px;


@font-size-medium:    ceil((@font-size-base * 1.1));
@line-height-content: 1.45;

// Quotes
@quote-border: 2px solid @base1;

// Footer
@footer-link-underline: 1px;

// Screen sizes
// Assume @sidebar-width > @gutter-width
@screen-lg-min: (@sidebar-width + 2*@gutter-margin + @content-width + 2*@gutter-margin + @sidebar-width + @scrollbar-extra);
@screen-md-min: (2*@gutter-margin + 2*@gutter-margin + @content-width + @gutter-margin + @gutter-width + 2*@gutter-margin + @gutter-margin + @scrollbar-extra);

// Transitions
@transitions: 0.2s;

/* MIXINS
-------------------------------------------------- */
.header() {
  // background: url('../img/cartographer.png');
  background: @base03;
  color: @base0;
  font-family: @font-family-headings;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer */

body {
  padding-bottom: @font-size-base;
  // background: url('../img/concrete_wall_3.png');
  // background: url('../img/natural_paper.png');
  // background: url('../img/scribble_light.png');
  // background: url('../img/wall4.png');
  background: @base3;
}

footer {
  font-size: @font-size-small;
  font-family: @font-family-serif;
  text-align: left;

  p {
    margin: 0;
  }

  a {
    border-bottom: @footer-link-underline solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom-color: @link-hover-color;
    }
  }
}

.social-media {
  float: right;
}

// Index page
@import "index.less";

// WHitepapers
@import "paper.less";

