/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import "bootstrap/bootstrap.less";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  // background: url('../img/concrete_wall_3.png');
  // background: url('../img/natural_paper.png');
  background: url('../img/scribble_light.png');
  // background: url('../img/wall4.png');

}

/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

/* Carousel base class */
.jumbotron {
  text-align: center;
  background: url('../img/cartographer.png');
  color: @gray-lighter;
  font-family:  @font-family-headings;
}

/* Nav links */

.nav {
  & > li {
    display: inline-block;

    & > a {
      padding-right: 0;
      padding-left: 0;
      // color: #fff; /* IE8 proofing */
      // color: rgba(255,255,255,.75);
      border-bottom: 2px solid transparent;

      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom-color: #a9a9a9;
        border-bottom-color: rgba(255,255,255,.25);
      }
    }
  }

  & > li + li {
    margin-left: 20px;
  }

  & > .active {
    & > a,
    & > a:hover,
    & > a:focus {
      // color: #fff;
      // border-bottom-color: #fff;
    }
  }
  
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}
