/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import "bootstrap/bootstrap.less";

/* Variables */
@link-underline: 2px;
.header() {
  background: url('../img/cartographer.png');
  color: @gray-lighter;
  font-family: @font-family-headings;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer */

body {
  padding-bottom: @font-size-base;
  // background: url('../img/concrete_wall_3.png');
  // background: url('../img/natural_paper.png');
  background: url('../img/scribble_light.png');
  // background: url('../img/wall4.png');

}

/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

/* Carousel base class */
.jumbotron {
  text-align: center;
  .header;
}

/* Nav links */

.nav {
  & > li {
    display: inline-block;

    & > a {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-size: @font-size-large;
      // color: #fff; /* IE8 proofing */
      // color: rgba(255,255,255,.75);
      border-bottom: @link-underline solid transparent;

      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom-color: #a9a9a9;
        border-bottom-color: rgba(255,255,255,.25);
      }
    }
  }

  & > .active {
    & > a,
    & > a:hover,
    & > a:focus {
      // color: #fff;
      // border-bottom-color: #fff;
    }
  }
  
  & > li + li {
    margin-left: @line-height-computed;
  }
}

footer {
  font-size: @font-size-small;
  p {
    margin: 0;
  }
}

/* WHITEPAPER PANELS
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.papers {
  .col-md-4 {
    margin-bottom: @line-height-computed;
    text-align: center;
  }
  
  h2 {
    font-weight: normal;
  }

  a.btn {
    &:after {
      content: " \BB";
    }
  }
}

/* WHITE PAPERS */

.sidebar {
  .make-lg-column(3);
  .header;
  font-size: @font-size-large;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar-sticky {
  position: absolute;
  right:  @font-size-small;
  bottom: @font-size-small;
  left:   @font-size-small;
}

.sidebar-title h1 {
  // margin-top: 0;
  // font-size: 3.25rem;
  // margin-bottom: -.5rem;
}

.sidebar-nav {
  // margin-bottom: 1rem;
}
.sidebar-nav ul {
  list-style: none;
  padding: 0;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:focus {
  text-decoration: underline;
}
.sidebar-nav li a.active {
  font-weight: bold;
}

.sidebar-nav li.header {
  margin-top: @line-height-computed*0.5;
}

.copy {
  width: 560px + 400px + 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px + 10px;
  font-size: @font-size-medium;

  & > div,
  & > p {
    width: 560px;
  }

  & > ul > li > *,
  & > ol > li > * {
    width: 560px - 40px;
  }

  li > blockquote {
    width: 200px;
    float: right;
    clear: both;
    font-size: @font-size-base;
    padding: 0;
    padding-left: 5px;
    border-left: 2px solid @gray;
  }
}

.version {
  color: @gray;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: (@line-height-computed / 2);
}
